<!DOCTYPE HTML>
<html>
    <head>
        <script src="https://d3js.org/d3.v5.min.js"></script>
    </head> 
    <body>
        <!-- <button id="butt_rand"></button> -->
        <div id="chart"></div>
        <p id="tst"></p>
        <script src="/static/js/dataRequest.js"  type="module"></script>
        <script src="/static/js/responsify.js"  type="module"></script>
        <script src="/static/js/SVGforeign.js"  type="module"></script>
        <script src="/static/js/TextToContainer.js"  type="module"></script>
        <script src="/static/js/Graph.js"  type="module"></script>
        <script src="/static/js/dataVis.js" type="module"></script>
    </body>
</html>